// Colors

$primaryColor: #a460f9;
$TipographyColor: #181818;
$backgroundBox: #242424;

// Font
$baseFont: 'Poppins', sans-serif;
$sizeH1: 3em;
$sizeH2: 1.9em;
$sizeH3: 1.3em;
$sizeParagraph: 1.2em;


// Button
$borderBtn: 2px solid #a460f9;
$borderRadiusBtn: 20px;
$paddingBtn: 10px 30px;
$fontBtn: 1em;
