
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

}

body {
    overflow-x: hidden;
 }

.container {
    width: 100%;
    min-height: 100vh;
    max-width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;

}

